@charset "utf-8";

/*全体*/
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  color: #666;
}
#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #000;
}
th,
td {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/*日曜日*/
td:first-child {
  color: red;
}
/*土曜日*/
td:last-child {
  color: blue;
}
/*前後月の日付*/
td.disabled {
  color: #ccc;
}
/*本日*/
td.today {
  font-weight: bold;
  color: black;
}

/*ボタン*/
#next-prev-button {
  position: relative;
}
#next-prev-button button {
  cursor: pointer;
  background: #0078ff;
  color: #fff;
  border: 1px solid #0078ff;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
#next-prev-button button:hover {
  background-color: #79b7fd;
  border-color: #79b7fd;
}
#prev {
  float: left;
}
#next {
  float: right;
}
